
html{
    display: flex;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 100%;
}


.image-format {
    height: 70%;
    border-radius: 25px;
}

/*.player2 {
    background-image: url("https://api.lorcana.ravensburger.com/images/fr/expansions/5/cards/1468x2048/356a192b7913b04c54574d18c28d46e6395428ab.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}


.player1 {
    background-image: url("https://api.lorcast.com/v0/cards/1/207");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}*/
































































